/* ETC PAGE */
.works .img-only {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
} .works .img-only img {
  align-self: stretch;
  flex-grow: 1;
  width: 100%;
} .works .img-cover {
  object-fit: cover;
} .works .img-contain {
  object-fit: contain;
  object-position: center;
} .works.etc .gc1r1 {
  grid-column: span 1;
  grid-row: span 1;
} .works.etc .gc1r2 {
  grid-column: span 1;
  grid-row: span 2;
} .works.etc .gc2r3 {
  grid-column: span 2;
  grid-row: span 3;
}

/* WORK PAGE */
.work-showcase {
  display: grid;
}

.card-work {
  height: 360px;
}
.brown {
  color: var(--brown);
}

table {
  border-spacing: 0px;
  /* border-collapse: separate; */
  border-radius: 12px;
  border: 1px solid var(--black);
} table tr:first-child th:first-child {
  border-top-left-radius: 12px;
} table tr:first-child th:last-child {
  border-top-right-radius: 12px;
} table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
} table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
} th, td {
  padding: 10px;
  border: 1px solid var(--black);
} th {
  font-weight: 600;
}

.work-showcase .container a, .work-showcase .container-wide a {
  text-decoration: underline; 
}

.iframe {
  align-self: stretch;
}

@media screen and (max-width: 1024px) {
  .work-showcase {
    display: flex;
    flex-direction: column;
    gap: 48px;
  } .work-showcase .container, .work-showcase .container-wide {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 48px;
  } .work-showcase .frame-2-5, .work-showcase .two-columns {
    display: flex;
    flex-direction: column;
    gap: 12px;
  } .work-showcase .two-columns .card-work {
    align-self: stretch;
    flex-grow: 1;
  } .work-showcase .img {
    margin-top: 12px;
    object-fit: cover;
    border-radius: 20px;
    align-self: stretch;
    width: 100%;
  } .work-showcase .new-chap {
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .work-showcase {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: auto;
    column-gap: var(--gutter);
    row-gap: 96px;
    padding-bottom: 96px;
  } 
  .work-showcase .grid-1-3 {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    column-gap: var(--gutter);
    grid-template-rows: auto;
  }
  .work-showcase .container {
    grid-column: 2 / span 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    padding-top: 64px;
  } .work-showcase .container-wide {
    grid-column: 1 / span 6;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .work-showcase .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    align-self: stretch;
  } .work-showcase .para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    align-self: stretch;
  } .work-showcase .frame-2-5 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--gutter);
    /* flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; */
    padding: 0px;
    align-self: stretch;
  } .work-showcase .container-wide .img {
    object-fit: cover;
    align-self: stretch;
    width: 100%;
    border-radius: 40px;
  } .work-showcase .container .img {
    object-fit: cover;
    align-self: stretch;
    width: 100%;
    border-radius: 24px;
    margin-top: 12px;
  } .work-showcase .two-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gutter);
    align-self: stretch;
  } .work-showcase .img-frame {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    text-align: center;
  } .work-showcase .new-chap {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .works.etc {
    grid-auto-rows: 320px;
  } .works.etc > * {
    width: 100%;
    height: 100%;
  }
}